## Большая плоская таблица.

Соединяем всё в кучу, создаём новые фичи.

- Объединить таблицы погоды и продаж

- Оставить только колонки


<span style="color: red;">Думаю в store_city_coordinates.csv должна быть колонка station_nbr, а не store_nbr. Потому что 20 позиций. Соответственно и сам файл надо переименовать.</span>

In [5]:
import pandas as pd
import numpy as np

weather_df = pd.read_csv('./data/weather-clean.csv')
key_df = pd.read_csv('./data/key.csv')
train_df = pd.read_csv('./data/train-clean.csv')

### Объединение датасетов
1. Сначала приклеиваем station_nbr к train_df через key_df.
2. Затем по общим полям station_nbr + date притягиваем погоду.

full_df теперь имеет:
- продажи и все фичи из train_df
- погоду по соответствующей станции

In [6]:
import pandas as pd

# 1) store  →  station  (ключ)
train_plus_station = train_df.merge(
    key_df,              # содержит соответствие store ↔ station
    on='store_nbr',
    how='left'
)

# 2) добавляем погоду (по station + date)
train_weather_df = train_plus_station.merge(
    weather_df,
    on=['station_nbr', 'date'],   # date должна быть в обоих dfs
    how='left'
)

# # 3) добавляем координаты магазина
# full_df = train_weather.merge(
#     coordinates_df,
#     on='station_nbr',
#     how='left'
# )

In [7]:
train_weather_df

,Unnamed: 0_x,date,store_code,store_item_code,store_nbr,item_nbr,units,units_yesterday,units_prev_week,rolling_mean_4w,...,VCTS,day_of_week,month,is_weekend,is_holiday,rain_streak,dry_streak,avg_temp_next_day,rain_next_day,days_to_holiday
0,0,2012-01-01,s1,s1-i28,1,28,2,0.0,0.0,2.000000,...,0,6,1,1,0,0,0,50.0,0.0,1
1,1,2012-01-01,s1,s1-i40,1,40,0,0.0,0.0,0.000000,...,0,6,1,1,0,0,0,50.0,0.0,1
2,2,2012-01-01,s1,s1-i47,1,47,0,0.0,0.0,0.000000,...,0,6,1,1,0,0,0,50.0,0.0,1
3,3,2012-01-01,s1,s1-i51,1,51,1,0.0,0.0,1.000000,...,0,6,1,1,0,0,0,50.0,0.0,1
4,4,2012-01-01,s1,s1-i89,1,89,0,0.0,0.0,0.000000,...,0,6,1,1,0,0,0,50.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236033,236033,2014-10-31,s9,s9-i105,9,105,0,0.0,0.0,0.000000,...,0,4,10,0,0,0,9,58.0,0.0,365
236034,236034,2014-10-31,s9,s9-i42,9,42,0,0.0,0.0,0.000000,...,0,4,10,0,0,0,9,58.0,0.0,365
236035,236035,2014-10-31,s9,s9-i45,9,45,57,30.0,56.0,44.928571,...,0,4,10,0,0,0,9,58.0,0.0,365
236036,236036,2014-10-31,s9,s9-i5,9,5,34,82.0,29.0,36.285714,...,0,4,10,0,0,0,9,58.0,0.0,365
236037,236037,2014-10-31,s9,s9-i93,9,93,0,0.0,0.0,0.000000,...,0,4,10,0,0,0,9,58.0,0.0,365

In [8]:
train_weather_df.to_csv('./data/big_full_table.csv')